<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>
  
  <ion-grid class="loginWrap">
    <form class="formWrap">
  <ion-row margin-bottom>
    <img src=""> 
  </ion-row>
  

  <ion-item>
    <ion-label position="floating">Username*</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password*</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button  class="btnFull" color="success">Sign In</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button  class="btnFull" color="success">Create Account</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text class="forgotPasswordText">
        <a>Forgot Password?</a>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-text color="light" class="or">
        OR Sign In With
      </ion-text>
    </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col>
      <button class="btnSocial btnFacebook"><ion-icon name="logo-facebook"></ion-icon>Facebook</button>
    </ion-col>
    <ion-col>
      <button class="btnSocial btnGoogle"><ion-icon name="logo-google"></ion-icon>Google</button>
    </ion-col>
  </ion-row>
</form>
</ion-grid>
</ion-content>
