<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>
<ion-content class="ion-padding content-bg">
  <ion-grid class="loginWrap">
    <form class="fullW" [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <div class="logo">
        <img src="../../assets/logo.svg" />
      </div>
      <ion-text color="color-secondary" class="headingStyle1">
        <h2>Sign In</h2>
      </ion-text>
      <div class="formWrap">
        <ion-input class="inputField userIcon" formControlName="userName" placeholder="Enter Mobile Number" minlength="10" maxlength="10" type="tel" required></ion-input>
        <span class="error-message validationMsg" *ngIf="isSubmitted && errorControl.userName.errors?.required">
          Username is required.
        </span>
        <span class="error-message validationMsg" *ngIf="isSubmitted && errorControl.userName.errors?.pattern">
          Please provide valid username.
        </span>
        <span class="error-message validationMsg" *ngIf="isSubmitted && (loginForm.controls['userName'].hasError('minLength'))">
          Username must contain 10 digits
        </span>
      </div>

      <div class="formWrap">
        <ion-input type="password" class="inputField passwordIcon" formControlName="password" placeholder="Enter password" required></ion-input>
        <span class="error-message validationMsg" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Password is required.
        </span>
        <span class="error-message validationMsg" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Please provide valid password.
        </span>
      </div>
      <div class="formWrap ion-text-center pt-16">
        <ion-button type="submit" class="btn button-round btncolorprimary" expand="full" >Sign In</ion-button>
      </div>
      <div class="formWrap ion-text-center">
      <ion-button class="btn button-round btnPrimaryOutline blueColor" expand="full" fill="outline" (click)="goToSignup()">Create Account</ion-button>
    </div>
    
    <ion-row>
      <ion-col class="formWrap forgotPassword">
        <a class="" (click)="goToForgotPassword()">Forgot Password?</a>        
      </ion-col>
    </ion-row>

     <ion-row>
        <ion-col>
          <ion-text class="or" expand="block"> OR Sign In With </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>        
        <ion-col>
          <div class="ion-text-center">
            <ion-button class="btnSocial ion-no-padding" (click)="goToDashboard()">
              <img src="../../assets/google.svg" />
            </ion-button>         
            <ion-button class="btnSocial ion-no-padding" (click)="goToSelfScreening()">
              <img src="../../assets/facebook.svg" />
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
