.content-bg {
    --background: var(--ion-bg-color);
}
.loginWrap {
    display: flex;
    height: 100%;
    // align-items: center;
}
.fullW{
    width: 100%;
}
.logo{
    max-width: 90px;
    margin: 32px auto 32px auto;
}
.formWrap{
    margin-bottom: 16px;
}
.inputField{    
    border-bottom: 1px solid #808080;
    padding-left: 8px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}
.has-focus{
    border-color: #1a1a1a;
}
.btn{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.pt-16{
    padding-top: 16px;
}
.btncolorprimary {
    --background: var(--ion-primary-btn);
  }
.btnPrimaryOutline {
    --border-color: var(--ion-primary-outline-btn);
    --color: var(--ion-color-primary-2);
}
.forgotPassword{
    text-align: center;
}
.forgotPassword a{
    color: var(--ion-color-primary-2);
    text-decoration: underline;
}
.headingStyle1 h2{
    margin-top: 0;
    margin-bottom: 24px;
}
.error-message{
    color: var(--ion-color-danger);
    font-size: 13px;
}
.customSelect, .customTextarea{
    padding-left: 0;
    --padding-bottom: 5px;
    border-bottom: 1px solid #9d9d9d;
    font-size: 14px;
    color: #000;
    --placeholder-color: #797979;
    --placeholder-opacity: 1
}
.iconicRadioGroup .radioItem{
    display: inline-block;
    align-items: center;
}
.iconicRadio{
    width: 50px;
    height: 50px;
    margin: 0 8px;
}
.self{
    background: url(../../assets/self.svg) no-repeat center center / 36px;
}
.doctor{
    background: url(../../assets/doctor.svg) no-repeat center center / 38px;
}
.mhp{
    background: url(../../assets/mhp.svg) no-repeat center center / 36px;
}
.hp{
    background: url(../../assets/nurse.svg) no-repeat center center / 36px;
}

.iconicRadio{
    --border-width: 0;
}
.iconicRadio.radio-checked{
    --color-checked: transparent;
}
.iconicRadioGroup .radio-icon {
    --border-width: 0;
}
.iconicRadio{
    border: 2px solid #ddd;
    border-radius: 50%;
}
.iconicRadio.radio-checked{
    border-color: #080854;
}
.iconicRadioGroup>div{
    display: inline-block;
}
.iconicRadioGroup>div>span{
    display: block;
    text-align: center;
}
.dateTime{
    background: url(../../assets/calendar.svg) no-repeat right center / 16px;
    padding: 0px 35px 5px  8px;
}