.content-bg {
    --background: var(--ion-bg-color);
}
.loginWrap {
    display: flex;
    height: 100%;
    // align-items: center;
}
.fullW{
    width: 100%;
}
.logo{
    max-width: 90px;
    margin: 32px auto 32px auto;
}
.formWrap{
    margin-bottom: 16px;
}
.inputField{    
    border-bottom: 1px solid #808080;
}
.has-focus{
    border-color: #1a1a1a;
   }
.btncolorprimary {
    --background: var(--ion-primary-btn);
  }
.btnPrimaryOutline {
    --border-color: var(--ion-primary-outline-btn);
    --color: var(--ion-color-primary-2);
}
.forgotPassword{
    text-align: center;
}
.forgotPassword a{
    color: var(--ion-color-primary-2);
    text-decoration: underline;
}
.headingStyle1 h2{
    margin-top: 0;
    margin-bottom: 24px;
}
.error-message{
    color: var(--ion-color-danger);
}
.customSelect, .customTextarea{
    padding-left: 0;
    --padding-bottom: 5px;
    border-bottom: 1px solid #9d9d9d;
    font-size: 14px;
    color: #000;
    --placeholder-color: #797979;
    --placeholder-opacity: 1
}
.iconicRadioGroup .radioItem{
    display: inline-block;
    align-items: center;
}
.iconicRadio{
    width: 50px;
    height: 50px;
}
.self{
    background: url(../../assets/self.svg) no-repeat center center / 50px;
    
}
.doctor{
    background: url(../../assets/doctor.svg) no-repeat center center / 50px;
}
.mhp{
    background: url(../../assets/self.svg) no-repeat center center / 50px;
}
.hp{
    background: url(../../assets/nurse.svg) no-repeat center center / 50px;
}
.iconicRadio.radio-checked{
    background-size: 60px;
    width: 60px;
    height: 60px;
}
