<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Forgot Your Password?</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding content-bg">
  <ion-grid class="loginWrap">
    <form class="fullW" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="logo">
        <img src="../../assets/logo.svg" />
      </div>
      <ion-text color="color-secondary" class="headingStyle1">
        <h2>Reset Your Password</h2>
      </ion-text>
      <!-- <ion-text color="color-secondary-lite" class="subTitle">
        <small>Confirm your email as we’ll send the URL</small>
      </ion-text> -->
      <div class="formWrap">
        <ion-input class="inputField userIcon" formControlName="password" placeholder="Enter New Password" type="text"></ion-input>
        <span class="error-message ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Password is required.
        </span>
        <span class="error-message ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">
          Please provide valid password.
        </span>
      </div>
      <div class="formWrap">
        <ion-input class="inputField userIcon" formControlName="confirmPassword" placeholder="Confirm Password" type="text"></ion-input>
        <span class="error-message ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
          Password is required.
        </span>
        <span class="error-message ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.pattern">
          Please provide valid password.
        </span>
      </div>
      
      <div class="formWrap">
        <ion-button type="submit" class="button-round btncolorprimary" expand="full" >Submit</ion-button>
      </div>
    </form>
  </ion-grid>
</ion-content>

