<ion-header>
  <ion-toolbar class="toolbarBg">
    <ion-title>Child Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg">
  <form class="fullW" [formGroup]="childProfileForm" (ngSubmit)="updateChildProfile()">
  <label class="cardLabel color-red">
    <img src="../../assets/user-red.svg" /><span>General Information</span>
  </label>
  <ion-card class="card">  
    <ion-card-content class="cardContent">
     <div class="inputWrap">
       <ion-input class="inputField" formControlName="firstName" placeholder="First Name" type="text" required></ion-input>
      </div>
      <div class="inputWrap">
        <ion-input class="inputField" formControlName="middleName" placeholder="Middle Name" type="text" required></ion-input>
       </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="lastName" placeholder="LAst Name" type="text" required></ion-input>
       </div>
     <div class="inputWrap">
       <ion-input class="inputField" formControlName="age" placeholder="Age" type="text" required></ion-input>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Gender" formControlName="gender">
          <ion-select-option *ngFor="let g of genderArr" [value]="g.value">{{g.name}}</ion-select-option>
        </ion-select>
      </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="school"  placeholder="School" type="text" required></ion-input>
       </div>
       <div class="formWrap">
        <ion-select placeholder="Type Of School" formControlName="typeOfSchool">
          <ion-select-option *ngFor="let st of schoolType" [value]="st.value">{{st.name}}</ion-select-option>
        </ion-select>
      </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="schooleClass"  placeholder="Class" type="text" required></ion-input>
       </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="motherName" placeholder="Mother's Name" type="text" required></ion-input>
       </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="motherOccuption" placeholder="Mother's Occupation" type="text" required></ion-input>
       </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="fatherName"  placeholder="Father's Name" type="text" required></ion-input>
       </div>
       <div class="inputWrap">
        <ion-input class="inputField" formControlName="fatherOccuption"  placeholder="Father's Occupation" type="text" required></ion-input>
       </div>
    </ion-card-content>
  </ion-card>
  
  <label class="cardLabel color-blue">
    <img src="../../assets/home.svg" /><span>Address</span>
  </label>
  <ion-card class="card">  
    <ion-card-content class="cardContent" formGroupName="contactDetails">  
      <div class="formWrap">
        <ion-select placeholder="State" [(ngModel)]="state" formControlName="state" (ionChange)="onStateChange()">
          <ion-select-option *ngFor="let s of stateList" [value]="s.stateId">{{s.stateName}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="District" [(ngModel)]="district" formControlName="district">
          <ion-select-option *ngFor="let d of districtsForState" [value]="d.districtId" value="Y">{{d.districtName}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Resident Type" formControlName="resident_type">
          <ion-select-option *ngFor="let rt of residentType" [value]="rt.value">{{rt.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="inputWrap">
        <ion-input class="inputField" formControlName="languageKnown"  placeholder="Languages Known" type="text" required></ion-input>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Family Income" formControlName="extra_field1">
          <ion-select-option *ngFor="let fi of familyIncome" [value]="fi.value">{{fi.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
  </ion-card>
  
  <label class="cardLabel color-green">
    <img src="../../assets/parameter.svg" /><span>Biological Functions</span>
  </label>
  <ion-card class="card">  
    <ion-card-content class="cardContent">
      <div class="formWrap">
        <ion-select placeholder="Sleep" formControlName="sleep">
          <ion-select-option *ngFor="let st of sleepType" [value]="st.value">{{st.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Appetite" formControlName="appitite">
          <ion-select-option *ngFor="let at of appititeType" [value]="at.value">{{at.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
  </ion-card>
  
  <label class="cardLabel color-orange">
    <img src="../../assets/body-mass.svg" /><span>Pre-natal History</span>
  </label>
  <ion-card class="card">  
    <ion-card-content class="cardContent">
      <div class="formWrap">
        <ion-select placeholder="Mother exposed to trauma like X rays,drugs" formControlName="emotionalTramua">
          <ion-select-option *ngFor="let m of motherExposed" [value]="m.value">{{m.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Mother suffered from any infectious disease" formControlName="infectiousDisease">
          <ion-select-option *ngFor="let m of motherExposed" [value]="m.value">{{m.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Failed abortion attempt made" formControlName="abortionAttempt">
          <ion-select-option *ngFor="let m of motherExposed" [value]="m.value">{{m.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Mother suffered from emotional trauma" formControlName="emotionalTramua">
          <ion-select-option *ngFor="let m of motherExposed" [value]="m.value">{{m.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
  </ion-card>

  <label class="cardLabel color-orange">
    <img src="../../assets/body-mass.svg" /><span>Post-natal History</span>
  </label>
  <ion-card class="card">  
    <ion-card-content class="cardContent">
      <div class="formWrap">
        <ion-select placeholder="Term of Delivery" formControlName="deliveryTerm">
          <ion-select-option *ngFor="let dt of deliveryTerms" [value]="dt.value">{{dt.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Place of Delivery" formControlName="placeOfDevlivery">
          <ion-select-option *ngFor="let dp of devliveryPlace" [value]="dp.value">{{dp.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Type of Delivery" formControlName="typeOfDelivery">
          <ion-select-option *ngFor="let t of typeOfDeliveryArr" [value]="t.value">{{t.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Birth weight" formControlName="birthWeight">
          <ion-select-option *ngFor="let w of weight" [value]="w.value">{{w.name}}</ion-select-option>
        </ion-select>
      </div>
      <div class="formWrap">
        <ion-select placeholder="Birth Cry" formControlName="birthCry">
          <ion-select-option *ngFor="let ct of cryType" [value]="ct.value">{{ct.name}}</ion-select-option>
        </ion-select>
      </div>

      <div class="inputWrap">
        <ion-input class="inputField" formControlName="complDuringDelivery"  placeholder="Complications during delivery, if any" type="text" required></ion-input>
      </div>

      <div class="formWrap">
        <ion-select placeholder="Immunization" formControlName="immunization">
          <ion-select-option *ngFor="let i of immuneArr" [value]="i.value">{{i.name}}</ion-select-option>
        </ion-select>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="btmBtnWrap">
    <ion-button type="submit" class="button-round btncolorprimary blueColor">Submit</ion-button>
  </div>
</form>
  </ion-content>
