<ion-header>
  <ion-toolbar class="toolbarBg">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg dashboard">
  <ion-grid class="cardRow">

      <ion-card class="card" tabindex="1">
        <div class="customCard self">
          <div><img src="../../assets/self.svg" alt=""></div>
          <span>Self Profile</span>
        </div>
      </ion-card>
      
        <ion-card class="card" tabindex="1">
          <div class="customCard doctor">
            <div><img src="../../assets/doctor.svg" alt=""></div>
            <span>Doctor Profile</span>
          </div>
        </ion-card>
     
        <ion-card class="card" tabindex="1">
          <div class="customCard hp">
            <div><img src="../../assets/mhp.svg" alt=""></div>
            <span>Health Profile</span>
          </div>
        </ion-card>
      
        <ion-card class="card" tabindex="1">
          <div class="customCard mhp">
            <div><img src="../../assets/nurse.svg" alt=""></div>
            <span>MHP</span>
          </div>
        </ion-card>
     

  </ion-grid>

</ion-content>