.content-bg {
    --background: var(--ion-bg-color);
}
.loginWrap {
    display: flex;
    height: 100%;
    // align-items: center;
}
.fullW{
    width: 100%;
}
.logo{
    max-width: 90px;
    margin: 32px auto 32px auto;
}
.formWrap{
    margin-bottom: 16px;
}
.inputField{    
    border-bottom: 1px solid #808080;
    padding-left: 8px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}
.has-focus{
    border-color: #1a1a1a;
}
.btn{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.pt-16{
    padding-top: 16px;
}
.btncolorprimary {
    --background: var(--ion-primary-btn);
  }
.btnPrimaryOutline {
    --border-color: var(--ion-primary-outline-btn);
    --color: var(--ion-color-primary-2);
}
ion-grid.cardRow{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
    justify-content: center;
}
ion-card.card{
    width: 160px;
    height: 160px;
    margin: 10px;
    position: relative;
    transition: all 0.4s ease-in;
}
.customCard{
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;    
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.customCard img{
    width: 60px;
}
.dashboard ion-grid{
    padding: 0;
}
.customCard span{
    color: #000;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 10px 0 10px;
}
.toolbarBg{
    --background: rgb(8,8,84,1);
    color: var(--color-white);
}
ion-card.card:before {
    content: '';
    background-color: rgba(26, 26, 26, 0.1);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
  }
  ion-card.card:focus {
    outline: 0;
    color: #fff;
  }
  ion-card.card:focus:before {
    -webkit-animation: effect_dylan 0.8s ease-out;
            animation: effect_dylan 0.8s ease-out;
  }
  @-webkit-keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }
  @keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }
  
  @media (max-width: 374px) {
    ion-card.card{
        width: 130px;
        height: 130px;
    }
    .customCard img{
        width: 50px;
    }
    .customCard{
        font-size: 1rem;
    }
}