<ion-header>
  <ion-toolbar class="toolbarBg">
    <ion-title>Doctor Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-bg">

  <label class="cardLabel color-red">
    <img src="../../assets/user-red.svg" /><span>General Information</span>
  </label>
  <form [formGroup]="doctorForm" (ngSubmit)="submitDoctor()">
    <ion-card class="card">  
      <ion-card-content class="cardContent doctorProfile">
        <div class="formWrap">
          <ion-select placeholder="Registered with which state" [(ngModel)]="regWithState" formControlName="regWithState">
            <ion-select-option *ngFor="let s of stateList" [value]="s.stateId">{{s.stateName}}</ion-select-option>
          </ion-select>
        </div>
        
      <div class="inputWrap">
        <ion-input class="inputField" formControlName="medicalRegNum" [(ngModel)]="medicalRegNum" placeholder="Medical Registration Number" type="text" required></ion-input>
        </div>
        <div class="inputWrap">
            <ion-select placeholder="Speciality" formControlName="speciality" [(ngModel)]="speciality" class="customSelect">
              <ion-select-option *ngFor="let s of specialityArr" [value]="s">{{s}}</ion-select-option>
            </ion-select>
        </div>
        <!-- <div class="inputWrap">
          <ion-textarea class="customTextarea" formControlName="speciality" placeholder="Educational Qualification" type="text" required></ion-textarea>
        </div> -->
        <div class="inputWrap">
          <ion-input class="inputField" formControlName="associatedHospital" [(ngModel)]="associatedHospital" placeholder="Associated Hospital" type="text" required></ion-input>
        </div>
        <div class="inputWrap">
          <ion-input class="inputField" formControlName="resident" [(ngModel)]="resident" placeholder="Residence" type="text" required></ion-input>
        </div>
        <div class="inputWrap">
          <ion-select placeholder="Clinic" class="customSelect" formControlName="clinic" [(ngModel)]="clinic">
            <ion-select-option *ngFor="let c of clinicType" [value]="c.value">{{c.name}}</ion-select-option>
          </ion-select>
        </div>
        <div class="inputWrap">
          <ion-input class="inputField" formControlName="clinicAddress" [(ngModel)]="clinicAddress" placeholder="Clinic's Address" type="text" required></ion-input>
        </div>
        <div class="formWrap">
          <ion-select placeholder="State" [(ngModel)]="state" formControlName="state" (ionChange)="onStateChange()">
            <ion-select-option *ngFor="let s of stateList" [value]="s.stateId">{{s.stateName}}</ion-select-option>
          </ion-select>
        </div>
        <div class="formWrap">
          <ion-select placeholder="District" [(ngModel)]="district" formControlName="district">
            <ion-select-option *ngFor="let d of districtsForState" [value]="d.districtId" value="Y">{{d.districtName}}</ion-select-option>
          </ion-select>
        </div>
        <div class="inputWrap">
          <ion-input class="inputField" formControlName="city" [(ngModel)]="city" placeholder="City/Town" type="text" required></ion-input>
        </div>
        <div class="inputWrap">
          <ion-select formControlName="howManyPatientsPresent" [(ngModel)]="howManyPatientsPresent" placeholder="On an average how many patients present psychiatric(mental illness) symptoms?" class="customSelect">
            <ion-select-option *ngFor="let p of patientCount" [value]="p.value">{{p.name}}</ion-select-option>
          </ion-select>
        </div>
        <ion-input [(ngModel)]="id" formControlName="id" placeholder="Doctor Id" type="hidden" required></ion-input>
      </ion-card-content>
    </ion-card>
  
    <div class="btmBtnWrap">
      <ion-button type="submit" class="button-round btncolorprimary blueColor">Save</ion-button>
    </div>
  </form>
  </ion-content>
